* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px dashed red; */
}

body {
  color: #4682b4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #b0c4de;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
}

header h1 a {
  text-decoration: none;
  color: #483d8b;
}

header nav {
  margin: 7px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 20px 25px;
  font-size: 2vw;
  text-decoration: none;
  color: #483d8b;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
}
.hero {
  background-image: url(images/matrix.jpg);
  background-repeat: none;
  background-size: cover;
  padding: 150px 20px 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.hero h2 {
  background-color: #483d8b;
  padding: 15px;
  margin: 0;
  text-align: center;
}

#about-me,
#my-work,
#contact-me {
  display: flex;
}

#about-me h2,
#my-work h2,
#contact-me h2 {
  font-size: 42px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  color: #483d8b;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
  margin: 10px 0px 0px 20px;
  border-right: 3px solid #483d8b;
  /* max-width: 115px; */
  width: 25%;
}

#about-me {
  margin-top: 20px;
}

.profile-pic img {
  border: 3px solid #483d8b;
}

.text {
  background-color: #b0c4de;
  color: #483d8b;
  font-weight: lighter;
  line-height: 1.3;
  display: flex;
  text-align: center;
  border: 3px solid #483d8b;
  /* border-right: 3px solid #483d8b;
  /* border-bottom: 3px solid #483d8b; */
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
}

h4,
h5 {
  background-color: #b0c4de;
  padding: 15px 15px 0px 50px;
  width: 200px;
  margin: 0;
  position: relative;
  right: 49px;
  font-weight: lighter;
}

h5 {
  /* background-color: #b0c4de; */
  padding: 0px 15px 15px 50px;
  /* width: 200px; */
  /* position:relative; */
  /* right: 50px; */
}
.work-links a {
  text-decoration: none;
}

.test {
  background-image: url(images/run-buddy.jpg.png);
  padding: 200px 50px 100px 50px;
  margin: 20px 20px 20px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  position: relative;
  border: 3px solid #483d8b;
}

.test-2 {
  background-image: url(images/placeholder.png);
  padding: 100px 0px 60px 50px;
  margin: 0px 0px 20px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  border: 3px solid #483d8b;
}

.double-window {
  display: flex;
  flex: 100%;
}

.work-links {
  flex: 100%;
}

.right-window {
  margin-right: 20px;
}

.double-window a {
  flex: 100%;
}

#contact-me ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  flex: 100%;
}

#contact-me ul li a {
  padding: 20px 25px;
  font-size: 2vw;

  color: #483d8b;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
}

#contact-me {
  margin-bottom: 20px;
}

.text {
  width: 79%;
}

#about-me h2 {
  width: 21%;
}

a:hover,
#contact-me ul li a:hover {
  color: green;
}

.work-links a :hover {
  opacity: 0.8;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    font-size: 25px;
  }

  #contact-me {
    display: block;
    text-align: center;
  }

  #contact-me h2 {
    text-align: center;
    width: 100%;
    display: inline;
    border-right: none;
    border-bottom: 3px solid #483d8b;
  }

  #contact-me ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  #about-me,
  #my-work {
    display: block;
    text-align: center;
  }

  #about-me h2,
  #my-work h2 {
    text-align: center;
    width: 100%;
    display: inline;
    border-right: none;
    border-bottom: 3px solid #483d8b;
  }

  .text,
  .work-links {
    margin: 50px 0px 50px 0px;
    width: 100%;
  }

  
  }
  #my-work h2 {
    margin-top: 60px;
  }
}
