* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px dashed red; */
}

body {
  color: #4682b4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #b0c4de;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
}

header h1 a {
  text-decoration: none;
  color: #483d8b;
}

header nav {
  margin: 7px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 20px 25px;
  font-size: 2vw;
  text-decoration: none;
  color: #483d8b;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
}

#about-me, #my-work {
  display: flex;
  padding: 20px;
  /* justify-content: space-between; */
margin: 0px 100px 0 50px;
 
}

h2 {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  color: #483d8b;
  text-shadow: 0 0 10px rgba(53, 35, 35, 0.5);
  margin-top: 10px;
  border-right: 3px solid #483d8b;

}
#about-me div {
    padding-left: 20px;

}



#my-work {
  padding-top: 20px;
}

#my-work h2 {
    margin-left: 9px
}

.text {
    background-color:#b0c4de;
    color:#483d8b;
    font-weight: lightetr;
    line-height: 1.3;
    display: flex;
    text-align: center;
    /* margin-right: 200px; */
    width:
}

.work-links a img {
margin-top: 20px;
margin-left: 20px;
}


